.header-body {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header-body .left {
    display: inline;
    margin-left:10px;
}

.header-body .right * {
    display: inline;
    margin-right:10px;
}