.history-body {
    display: block;
}

.history-body .history-item {
    margin: 10px 10px 10px 10px;
    padding: 5px 0px 5px 0px;
    width: 60%;
    position: relative;
    background-color: blanchedalmond;
    border-color: beige;
    border: 4px;
}

.history-body .history-item p {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.history-body .history-item a {
    font-family: Libre Franklin;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}