.search {
    border: 5px black;
    width: 30%;
    margin: auto;
    display: block;
    padding: 30px 30px 30px 30px;
}

.search h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
}

.search input, button {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}