.search {
    width: 60%;
    margin-left: 10px;
}

.search h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.search form {
    display: inline-block;
}

.search form input.query-input {
    position: relative;
    width: 300px;
}

.search-result-body {
    display: block;
}

.search-result-body .search-item {
    margin: 10px 10px 10px 10px;
    padding: 5px 0px 5px 0px;
    width: 60%;
    position: relative;
    background-color: blanchedalmond;
    border-color: beige;
    border: 4px;
}

.search-result-body .search-item p.query {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.search-result-body .search-item p.description {
    font-family: Libre Franklin;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
}

.search-result-body .search-item a {
    font-family: Libre Franklin;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}