<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/history.css}">
</head>

<body>
    <main>
        <div class="header-body">
            <div class="left">
                <a href="/search">Search</a>
                <a href="/index">Index</a>
            </div>
            <div class="right">

            </div>
        </div>

        <div class="history">
            <h1>MY ABC SEARCH HISTORY</h1>
                <button class="btn-clear-history">Clear my search history</button>
        </div>

        <div class="history-body">
        </div>
        <div class="pages">
        </div>

    </main>

    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/history.controller.js"></script>
</body>
</html>
