<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ABC Index</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <main>
        <div class="header-body">
        </div>
        <div class="header-body">
            <div class="left">
                <a href="/search">Search</a>
            </div>
            <div class="right">

            </div>
        </div>


        <div class="index">
            <h1>ABC INDEX</h1>
            <div class="index-message"></div>
            <input type="text" class="url-input" name="url-input" />
            <button class="btn-save-url">Index</button>
        </div>
    </main>

    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/header.controller.js"></script>
    <script type="text/javascript" src="/js/index.controller.js"></script>

</body>

</html>