<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>

<div class="header-body">
    <div class="left">
        <a href="/search">Search</a>
        <a href="/index">Index</a>
    </div>
    <div class="right">

    </div>
</div>

<h2>Register</h2>

<form th:action="@{/registration}" th:object="${registrationForm}" method="POST">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></span>
            </td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td><input type="password" th:field="*{confirmPassword}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/index}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <p>Already registered? <a href="/" th:href="@{/login}">Login here</a></p>
            </td>
        </tr>
    </table>
</form>

</body>
</html>