<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link rel="stylesheet" th:href="@{/css/searchResult.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

</head>

<body>
    <main>
        <div class="header-body">
            <div class="left">
                <a href="/index">Index</a>
            </div>
            <div class="right">

            </div>
        </div>

        <div class="search">
            <h1>ABC Search</h1>
            <form th:action="@{/search-result}" method="GET">
                <input type="hidden" class="page-param" name="p" value="1" />
                <input type="text" value="" class="query-input" name="q" />
                <button class="btn-search-query">Search</button>
            </form>
        </div>

        <div class="search-result-body">
        </div>
    </main>

    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/header.controller.js"></script>
    <script type="text/javascript" src="/js/searchResultPage.controller.js"></script>
</body>
</html>
